pkgbase = mingw-w64-qt6-declarative-static
	pkgdesc = Classes for QML and JavaScript languages (mingw-w64)
	pkgver = 6.7.0
	pkgrel = 1
	url = https://www.qt.io
	arch = any
	groups = mingw-w64-qt6
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = mingw-w64-cmake-static
	makedepends = mingw-w64-vulkan-headers
	makedepends = mingw-w64-vulkan-icd-loader
	makedepends = qt6-declarative
	makedepends = qt6-shadertools
	makedepends = ninja
	makedepends = python
	depends = mingw-w64-qt6-base-static
	optdepends = qt6-declarative: development tools
	provides = mingw-w64-qt6-quickcontrols2-static
	conflicts = mingw-w64-qt6-quickcontrols2-static
	replaces = mingw-w64-qt6-quickcontrols2-static
	options = !strip
	options = !buildflags
	options = staticlibs
	options = !emptydirs
	source = https://download.qt.io/official_releases/qt/6.7/6.7.0/submodules/qtdeclarative-everywhere-src-6.7.0.tar.xz
	source = 0001-Exclude-qmltime-when-cross-compiling.patch
	sha256sums = 5a0c39579a74d7cca581162c866ed0887287d4f8d5abff7ab9492d4a58fa9e2c
	sha256sums = b7bac9eb7e662598125640ec9cf3d9cdb7f5d08f02ee49bf8a12fe82941677ce

pkgname = mingw-w64-qt6-declarative-static
